

   
body{
    text-transform: uppercase;
}
.container-fluid{
    display: flex;

   font-family: "Source Serif Pro";
}
.navbar{
    position: relative;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}

.navbar-brand{
  flex-grow: 0.3;
  font-size: 1.3em;
}
.navbar-nav{
    font-size: 1.08em;
}

.navbar-nav #drop .dropdown-menu{
    display: none;
}
.navbar-nav #drop:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    background-color: whitesmoke;
    text-align: justify;
    margin-right: 20px;
    padding: 10px; 
}
.dropdown-item{   
    padding: 10px;  
}
#first{
    line-height: 98.6%;
}
.nav-item:hover{
text-decoration: underline;
}
.carousel-indicators{
    position: absolute;
    bottom: 2px;
    left: 50%;
    z-index: 15;
    width: 61%;
    padding-left: 0;
    margin-left: -31%;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: row ;
    
    align-items: flex-end;
    margin-right: 16%;
    
}
.carousel-caption{
    bottom: 50px;
    right: 16%;
    top: 77%;
    left: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    border-radius: 80%;
    width: 53%;
    height: 18%;
}
.animated{
    animation-duration: 2s;
    animation-duration: both;
}
.fadeInRight{
    animation-name: fadeInRight;
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translate3d(100%,0,0);
    }
    100%{
        opacity: 1;
        transform: translate3d(50%,0,0);
    }
}
h1{
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 21px;

}
h2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500;
font-size: 31px;
text-align: center;
line-height: 33px;
margin-bottom: 0px;
    margin-top: 0px;
}
.fadeInLeft{
animation-name: fadeInLeft;
}
@keyframes fadeInLeft {
  0%{
    opacity: 0;
    transform: translate3d(-100%,0,0)
}
100%{
    opacity: 1;
    transform: translateZ(0);
}
}
.carousel-item{
height: 100vh;
min-height: 300px;
}
span{
    color: tomato;
    font-weight: bold;
}
.carousel-inner{
    height: 100%;
width: 100%;
    position: relative;
    overflow: hidden;
}

.sidebar{
    position: absolute;
    z-index: 1;
    width: 240px;
    left: -240px;
    height: 100%;
    background: #1e1e1e;
    transition: all .5s ease;
  }
  .sidebar header{
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #1b1b1b;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
  }
  .sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
  }
 
  .sidebar a i{
    font-size: 23px;
    margin-right: 16px;
  }
  .sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 15px 30px;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
    right: 0;
    top: -10px;
    z-index: 1021;
  }
  label #cancel{
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ .sidebar{
    left: 0;
    position: absolute;
  }
  #check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;

  }
  #check:checked ~ label #cancel{
    opacity: 1;
    visibility: visible;
    top: auto;
    left: 0;
    margin-left: 0;
    margin-top: 24px;
  }
  @media(max-width : 768px){
    .sidebar{
      height: auto;
      width: 70px;
      left: 0;
      margin: 100px 0;
      position: absolute;
      z-index: 1;
    }
    header,#btn,#cancel{
      display: none;
    }
    span{
      position: absolute;
      margin-left: 23px;
      opacity: 0;
      visibility: hidden;
    }
    .sidebar a{
      height: 60px;
    }
    .sidebar a i{
      margin-left: -10px;
    }
    a:hover {
      width: 200px;
      background: inherit;
    }
    .sidebar a:hover span{
      opacity: 1;
      visibility: visible;
    }
  }
  @media(min-width :1024px){
      .sidebar{
          display: none;
      }
  }
  
